@CHARSET "UTF-8";

.region-layout {
	border: none !important;
	overflow: hidden !important;
}

.footer P {
	text-align: center !important;
}

.header {
	text-align: center !important;
}

.ui-panel-titlebar {
	text-align: center !important;
}

.buttons {
	text-align: center !important;
}
