<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:m="http://code.google.com/p/gmaps4jsf/"
	xmlns:x="http://java.sun.com/jsf/composite/components"
	template="index.xhtml">

	<ui:define name="content">
		<h:form>
			<h2>Funcionário -> Consultar</h2>
			<p:panel id="panel" header="Filtros"
				styleClass="ui-grid ui-grid-responsive">
				<f:validateBean disabled="true">
					<div class="ui-grid-row">
						<p:outputLabel value="Nome: " styleClass="ui-grid-col-2" />
						<p:inputText value="#{funcionarioBean.funcionario.nome}"
							styleClass="ui-grid-col-5" />
						<p:spacer width="10" />
						<p:outputLabel value="Matricula: " styleClass="ui-grid-col-2" />
						<p:inputText value="#{funcionarioBean.funcionario.matricula}"
							styleClass="ui-grid-col-4" />
					</div>
					<p:spacer height="10" />
					<div class="buttons">
						<p:commandButton value="Consultar"
							action="#{funcionarioBean.consultar}" update="funcionarios" />
					</div>
				</f:validateBean>
			</p:panel>
			<p:dataTable id="funcionarios"
				value="#{funcionarioBean.funcionarios}" var="funcionario">
				<f:facet name="header">Funcionários</f:facet>
				<p:column headerText="Nome">
					<h:outputText value="#{funcionario.nome}" />
				</p:column>
				<p:column headerText="Matricula">
					<h:outputText value="#{funcionario.matricula}" />
				</p:column>
				<p:column headerText="Data de Admissão">
					<h:outputText value="#{funcionario.admissao}">
						<f:convertDateTime locale="pt" />
					</h:outputText>
				</p:column>
				<p:column headerText="Telefone">
					<h:outputText value="#{funcionario.telefone}" />
				</p:column>
			</p:dataTable>
		</h:form>
	</ui:define>
</ui:composition>
