<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:m="http://code.google.com/p/gmaps4jsf/"
	xmlns:x="http://java.sun.com/jsf/composite/components"
	template="index.xhtml">

	<ui:define name="content">
		<h:form id="form" enctype="multipart/form-data">
			<h2>Funcionário -> Cadastrar</h2>
			<p:panel id="panel" header="Dados do Funcionário"
				styleClass="ui-grid ui-grid-responsive">
				<div class="ui-grid-row">
					<p:outputLabel for="nome" value="Nome: " styleClass="ui-grid-col-2" />
					<p:inputText id="nome" value="#{funcionarioBean.funcionario.nome}"
						required="true" requiredMessage="Nome é obrigatório."
						styleClass="ui-grid-col-5" />
					<p:spacer width="10" />
					<p:outputLabel for="matricula" value="Matricula: "
						styleClass="ui-grid-col-2" />
					<p:inputText id="matricula"
						value="#{funcionarioBean.funcionario.matricula}"
						styleClass="ui-grid-col-3" required="true" requiredMessage="Matricula é obrigatório."/>
				</div>
				<p:spacer height="10" />
				<div class="ui-grid-row">
					<p:outputLabel value="Foto: " styleClass="ui-grid-col-2" />
					<p:fileUpload value="#{funcionarioBean.file}"
						fileUploadListener="#{funcionarioBean.uploadFileListener}"
						mode="simple" styleClass="ui-grid-col-5" />
				</div>
				<p:spacer />
				<div class="ui-grid-row">
					<p:outputLabel value="Data de Admissão: "
						styleClass="ui-grid-col-2" />
					<p:calendar id="admissao" label="Data de Admissão"
						value="#{funcionarioBean.funcionario.admissao}"
						pattern="dd/MM/yyyy" styleClass="ui-grid-col-3" locale="pt"
						navigator="true" />
				</div>
				<p:spacer height="10" />
				<div class="buttons">
					<p:commandButton value="Salvar"
						actionListener="#{funcionarioBean.salvar()}" update="@form"
						ajax="false" />
				</div>
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>
