<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<style>
		#nortPanel {z-index: 2 !important;}
		#nortPanel div {overflow: visible;}
    </style>
    <h:outputStylesheet library="css" name="style.css"/>
</h:head>
<h:body style="font-size: 12px">
	<p:layout fullPage="true">
		<p:layoutUnit id="nortPanel" position="north" closable="false" resizable="true"
			collapsible="true" gutter="0">
			<ui:include src="/sessoes/header.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit position="center" closable="false" resizable="false"
			gutter="0" collapsible="true" id="center" styleClass="region-layout">
			<a name="focus" />
			<p:messages id="messagesSystem" closable="true" autoUpdate="true"
				severity="error, fatal, warn" showDetail="true" showSummary="false" />
			<ui:include src="/sessoes/center.xhtml" />
		</p:layoutUnit>

		<p:layoutUnit id="southPanel" position="south" resizable="false" closable="false"
			styleClass="footer region-layout" gutter="6">
			<p>
				<span>SGP &copy; 2015</span>
			</p>
		</p:layoutUnit>
	</p:layout>
</h:body>
</html>
