<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

	<div class="header">
		<h1>
			<a href="/">SGP</a>
		</h1>
		<h:form>
			<p:menubar >
				<p:submenu label="Funcionário" >
					<p:menuitem value="Cadastrar" url="/funcionario.xhtml"/>
					<p:menuitem value="Consultar" url="/consultaFuncionario.xhtml"/>
				</p:submenu>
			</p:menubar>
		</h:form>
	</div>

</ui:composition>